<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" class="text-center">
        <h1 color="primary">Análisis de Audios</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Subir Archivo</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Analisis de informacion</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card>
                <v-row>
                  <v-col>
                    <VueFileAgent
                      ref="vueFileAgent"
                      :theme="'list'"
                      :multiple="false"
                      :deletable="true"
                      :meta="true"
                      :accept="'.mp3,.wav'"
                      :maxSize="'100MB'"
                      :maxFiles="1"
                      :helpText="'Seleccionar Archivo de Audio'"
                      :errorText="{
                      type: 'Archivo invalido. Solo se permiten archivos tipo MP3 y WAV.',
                      size: 'Limite de peso exedido. Los archivos no pueden superar los 100MB.',
                      }"
                      v-model="fileRecords"
                    ></VueFileAgent>
                  </v-col>
                </v-row>
                <v-row v-if="transcript != ''">
                  <v-col>
                    <h3>Transcripcción</h3>
                  </v-col>
                  <v-col cols="12">
                    <v-textarea outlined v-model="transcript"></v-textarea>
                  </v-col>
                </v-row>
                <v-row class="text-center">
                  <v-col cols="3">
                    <v-btn
                      color="primary"
                      :disabled="disabledUpload || fileRecords.length == 0"
                      :loading="loading"
                      width="100%"
                      outlined
                      @click="uploadFile"
                    >Cargar</v-btn>
                  </v-col>
                  <v-col cols="3">
                    <v-btn
                      color="accent"
                      width="100%"
                      outlined
                      :disabled="disabledTranscript"
                      :loading="loading"
                      @click="transcriptFile"
                    >Transcribir</v-btn>
                  </v-col>
                  <v-col cols="3">
                    <v-btn
                      width="100%"
                      color="warn"
                      :disabled="disabledAnalize"
                      outlined
                      @click="extractInfo"
                    >Analizar</v-btn>
                  </v-col>
                  <v-col cols="3">
                    <v-btn
                      width="100%"
                      :disabled="fileRecords.length == 0"
                      color="warn"
                      outlined
                      :loading="loading"
                      @click="cancel"
                    >Cancelar</v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </v-stepper-content>
            <v-stepper-content step="2">
              <v-card>
                <v-container>
                  <v-row>
                    <v-col>
                      <div class="mt-12 text-justify">Value: {{ transcript }}</div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn
                        width="100%"
                        color="green"
                        outlined
                        :loading="loading"
                        @click="saveInfo"
                      >Guardar</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
    <Alert :show="alert" />
  </v-container>
</template>

<script lang="ts">
/* eslint-disable */

import Vue from "vue";
import Alert from "../utilitys/Alert.vue";
import { getName } from "../utilitys/auth";
import { backend } from "../../globals/axios";
import { FileRecord } from "vue-file-agent";
export default Vue.extend({
  name: "Loader",
  components: {
    Alert
  },
  data: () => ({
    e1: 1,
    filename: "",
    transcript: "",
    data: {},
    fileRecords: [],

    loading: false,
    disabledUpload: false,
    disabledTranscript: true,
    disabledAnalize: true,

    alert: {
      icon: null,
      show: false,
      text: null,
      color: null
    }
  }),
  methods: {
    uploadFile: async function() {
      this.loading = true;
      let fd = new FormData();
      fd.append("file", this.fileRecords[0].file);
      backend({
        method: "POST",
        url: `/upload?user=${getName()}`,
        data: fd
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res["data"].message,
            color: "success"
          };
          this.loading = false;
          this.disabledUpload = true;
          this.disabledTranscript = false;
          this.filename = res["data"].filename;
        })
        .catch(error => {
          this.fileRecords = [];
          this.disabledUpload = false;
          this.disabledTranscript = true;
          this.disabledAnalize = true;
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
          this.loading = false;
        });
    },
    transcriptFile: async function() {
      this.loading = true;
      let payload = {
        filename: this.filename
      };
      backend({
        method: "POST",
        url: "/transcript",
        data: payload
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0].menssage,
            color: "success"
          };
          this.transcript = res.data[0].paragraphs;
          this.disabledUpload = true;
          this.disabledTranscript = true;
          this.disabledAnalize = false;
          this.loading = false;
        })
        .catch(error => {
          this.fileRecords = [];
          this.disabledUpload = false;
          this.disabledTranscript = true;
          this.disabledAnalize = true;
          this.loading = false;
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data[0],
            color: "error"
          };
        });
    },
    extractInfo() {
      this.loading = true;
      let payload = {
        text: this.transcript
      };
      backend({
        method: "POST",
        url: "/analize",
        data: payload
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0].menssage,
            color: "success"
          };
          this.loading = false;
          this.data = res.data[0].data;
          this.e1 = 2;
        })
        .catch(error => {
          this.loading = false;
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data[0],
            color: "error"
          };
        });
    },
    cancel() {
      this.filename = "";
      this.e1 = 1;
      this.fileRecords = [];
      this.disabledUpload = false;
      this.disabledTranscript = false;
      this.disabledAnalize = false;
    },
    saveInfo() {
      this.loading = true;
      this.disbled = false;
      let payload = {
        paragraphs: this.transcript,
        filename: this.filename,
        origin_name: this.fileRecords[0].file.name,
        user: getName(),
        info: this.data
      };
      console.log(payload)
      backend({
        method: "POST",
        url: "/save",
        data: payload
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0],
            color: "success"
          };
          this.loading = false;
          this.cancel();
        })
        .catch(error => {
          this.loading = false;
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data[0],
            color: "error"
          };
        });
    }
  }
});
</script>
