<template>
  <v-card class="mt-4 mx-auto" width="100%">
    <!-- <v-sheet
      class="v-sheet--offset mx-auto"
      color="white"
      elevation="12"
      max-width="calc(100% - 56px)"
    >
      <v-container fluid>
        <v-sparkline
          class="mx-8"
          fill
          smooth="12"
          color="light-green accent-2"
          :value="value"
          auto-draw
          :labels="labels"
        ></v-sparkline>
      </v-container>
    </v-sheet> -->

    <v-card-text class="pt-0">
      <div class="title font-weight-light mb-2">Ingreso de Audios</div>
      <div class="subheading font-weight-light grey--text">Cuenta de audios subidos por fecha</div>
      <v-divider class="my-2"></v-divider>
      <v-icon class="mr-2" small>mdi-clock</v-icon>
      <span class="caption grey--text font-weight-light">Última fecha de actualizacion: 20/06/2020</span>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { backend } from "../../globals/axios";
export default Vue.extend({
  data: () => ({
    labels: [],
    value: []
  }),
  mounted() {
    backend({
      method: "GET",
      url: `/chart1`
    }).then(res => {
      this.labels = res["data"][0].labels;
      this.value = res["data"][0].values;
    });
  }
});
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
.font {
  font-size: 1%;
}
</style>