<template>
  <v-container fluid class="content">
    <v-row>
      <v-col style="text-align: center">
        <h1>Resumen de Actividad</h1>
      </v-col>
    </v-row>
        <ind1/>
    <v-row>
      <v-col cols="12">
        <chart />
      </v-col>
      <!-- <iframe
          width="100%"
          height="100%"
          src="https://datastudio.google.com/embed/reporting/0e370e82-0f40-4f35-9af5-a5dfee73a6ce/page/1M"
          frameborder="0"
      ></iframe>-->
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import chart from "./chart.vue";
import ind1 from "./indicador1.vue";
export default Vue.extend({
  components: {
    chart,
    ind1
  },
});
</script>

<style lang="scss" scoped>
.ds-informe {
  position: relative;
  &::after {
    width: 100%;
    height: 40px;
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  iframe {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80vh;
  }
  content {
    padding: 0;
    margin: 0;
  }
}
</style>