<template>
  <v-container fluid text-center>
    <v-row>
      <v-col cols="4">
        <v-row>
          <v-col cols="6">
            <v-card height="150px">
              <v-container text-center>
                <v-row>
                  <v-col cols="12">
                    <v-icon size="50" color="light-green accent-2">mdi-paperclip</v-icon>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <h6>Audios Analizados</h6>
                    <h6 color="light-green accent-2">18</h6>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card height="150px">
              <v-container text-center>
                <v-row>
                  <v-col cols="12">
                    <v-icon size="50" color="light-green accent-2">mdi-alpha-a</v-icon>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <h6>Palabras Clave</h6>
                    <h6 color="light-green accent-2">12</h6>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-card height="150px">
              <v-container text-center>
                <v-row>
                  <v-col cols="12">
                    <v-icon size="50" color="light-green accent-2">mdi-office-building</v-icon>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <h6>Entidades Asociadas</h6>
                    <h6 color="light-green accent-2">53</h6>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
          <v-col cols="6">
            <v-card height="150px">
              <v-container text-center>
                <v-row>
                  <v-col cols="12">
                    <v-icon size="50" color="light-green accent-2">mdi-account</v-icon>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <h6>Usuarios Registrados</h6>
                    <h6 color="light-green accent-2">14</h6>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="4">
        <v-container>
          <v-card height="325px">
            <chart1 />
          </v-card>
        </v-container>
      </v-col>

      <v-col cols="4">
        <v-container>
          <v-card height="325px">
            <v-list>
              <v-list-item two-line v-for="item in registers" :key="item.origin_name">
                <v-list-item-content>
                  <v-list-item-title>{{ item.origin_name }}</v-list-item-title>
                  <v-list-item-subtitle>{{ item.created_day }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts">
import chart1 from "./chart1.vue";
import Vue from "vue";
import { backend } from "../../globals/axios";
export default Vue.extend({
  name: "indicador1",
  components: {
    chart1
  },
  data: () => ({
    registers: [],
  }),
  mounted(){
    this.getRegisters();
  },
  methods: {
    getRegisters() {
      backend({
        method: "GET",
        url: `/registers`
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0].message,
            color: "success"
          };
          this.registers = res.data[0].registers.slice(1,5);
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
          this.loading = false;
        });
    }
  }
});
</script>