<template>
  <v-container fluid>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-subheader class="mt-4 grey--text text--ligth-1">Panel Principal</v-subheader>
      <toolsection />
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">Sistema de Transcripción</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span>{{ user }}</span>
      <v-btn icon large>
        <v-avatar size="32px" item>
          <v-icon>mdi-account</v-icon>
        </v-avatar>
      </v-btn>
    </v-app-bar>
    <v-content>
      <router-view />
    </v-content>
  </v-container>
</template>


<script lang="ts">
import Vue from "vue";
import Toolsection from "./Toolsection.vue";
import { getName } from "../utilitys/auth";
export default Vue.extend({
  name: "Dashboard",
  components: {
    Toolsection
  },
  data: () => ({
    user: getName(),
    drawer: null
  })
});
</script>
