<template>
  <v-list>
    <v-list-item v-for="item in items" :key="item.title" link :to="item.link">
      <v-list-item-icon>
        <v-icon color="cyan accent-3">{{ item.icon }}</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title>{{ item.title }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item @click="logout()">
      <v-list-item-action>
        <v-icon color="cyan accent-3">mdi-logout</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>Cerrar Sesión</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <template v-slot:append>
      <div class="pa-2">
        <v-btn block>Logout</v-btn>
      </div>
    </template>
  </v-list>
</template>

<script lang="ts">
import Vue from "vue";
import { logout, getName } from "../utilitys/auth";
export default Vue.extend({
  name: "Toolsection",
  data: () => ({
    user: getName(),
    ableItems: [
      "Inicio",
      "Analizar",
      "Historial",
      "Información",
      "Diccionario",
      "Usuarios"
    ],
    items: []
  }),
  mounted() {
    this.renderItems();
  },
  methods: {
    renderItems: function() {
      let Localitems = [
        { title: "Inicio", icon: "mdi-home-account", link: "home" },
        { title: "Analizar", icon: "mdi-cloud-upload-outline", link: "loader" },
        { title: "Historial", icon: "mdi-history", link: "registers" },
        {
          title: "Información",
          icon: "mdi-folder-information-outline",
          link: "data"
        },
        { title: "Usuarios", icon: "mdi-account-group-outline", link: "users" },
        {
          title: "Diccionario",
          icon: "mdi-book-open-page-variant",
          link: "diccionario"
        },
        { title: "Cuenta", icon: "mdi-account", link: "account" }
      ];
      let found;
      for (const item of this.ableItems) {
        found = Localitems.find(Allitem => Allitem.title === item);
        this.items.push(found);
      }
    },
    logout: function() {
      logout();
    }
  }
});
</script>