<template>
  <v-card max-width="650px" class="mx-auto">
    <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="330px" dark>
      <v-row class="fill-height">
        <v-card-title>
          <v-btn dark icon class="mr-4">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </v-card-title>
        <v-spacer></v-spacer>
        <v-card-title class="white--text text-center">
          <div class="display-1">{{ user }}</div>
        </v-card-title>
      </v-row>
    </v-img>
    <v-list two-line>
      <v-list-item>
        <v-list-item-icon>
          <v-icon color="cyan accent-3">mdi-phone</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>(+57) 123-4567890</v-list-item-title>
          <v-list-item-subtitle>Personal</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon>mdi-message-text</v-icon>
        </v-list-item-icon>
      </v-list-item>
      <v-divider inset></v-divider>
      <v-list-item>
        <v-list-item-icon>
          <v-icon color="cyan accent-3">mdi-email</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>invitado@example.com</v-list-item-title>
          <v-list-item-subtitle>Trabajo</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider inset></v-divider>
      <v-list-item>
        <v-list-item-icon>
          <v-icon color="cyan accent-3">mdi-map-marker</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Cll. 12 # 34-56</v-list-item-title>
          <v-list-item-subtitle>Bogotá, Colombia</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import { getName } from "../utilitys/auth";
export default Vue.extend({
  name: "account",
  data: () => ({
    user: getName(),
    ableItems: ["Usuarios"],
    items: []
  }),
  mounted() {
    this.renderItems();
  },
  methods: {
    renderItems: function() {
      let Localitems = [
        { title: "Cuenta", icon: "mdi-account", link: "account" }
      ];
      let found;
      for (const item of this.ableItems) {
        found = Localitems.find(Allitem => Allitem.title === item);
        this.items.push(found);
      }
    }
  }
});
</script>