<template>
  <v-container fluid>
    <v-card>
      <v-container>
        <h1 class="text-center">Información de Audios Analizados</h1>
      </v-container>
      <v-data-table
        :headers="headers"
        :items="registers"
        :search="search"
        sort-by="estado"
        class="elevation-1"
      >
        <template v-slot:top>
          <v-container fluid>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="search"
                  append-icon="mdi-database-search"
                  label="Buscar"
                  single-line
                  dense
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </template>

        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" color="accent">mdi-pencil</v-icon>
          <v-icon small @click="deleteItem(item)" color="red">mdi-delete</v-icon>
        </template>

        <template v-slot:item.fecha="{ item }">{{ item.fecha }}</template>

        <!-- <template v-slot:item.filename="{ item }">
          <v-tooltip right color="black">
            <template v-slot:activator="{ on }">
              <v-chip color="green" dark @click="getFile(item)">
                <v-icon v-on="on">mdi-file-document-outline</v-icon>
              </v-chip>
            </template>
            <span>Ver archivo</span>
          </v-tooltip>
        </template>-->
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script lang="ts">
/* eslint-disable */
import Vue from "vue";
import { backend } from "../../globals/axios";
export default Vue.extend({
  name: "Registers",
  data: () => ({
    search: "",
    headers: [],
    registers: [],
    keywords: [],
    dialog: false,
    dialog2: false,
    type: false,
    text: "",
    count: 0,
    dato: {
      "1": "Seguros",
      "2": "Seguros S.A.",
      "3": "2323",
      "4": "A favor",
      "5": "N/A",
      "6": "N/A",
      "7": "548770044",
      "8": "5566482",
      "9": "265",
      "10": "26",
      "11": "natural",
      "12": "N/A",
      "13": "N/A",
      "14": "no autorizado",
      "15": "normal",
      "16": "cuenta de ahorro"
    }
  }),
  async mounted() {
    this.headers = this.getHeaders();
    await this.getRegisters();
    console.log(this.count)
    
  },
  methods: {
    getRegisters() {
      backend({
        method: "GET",
        url: `/registers`
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0].message,
            color: "success"
          };
          this.count = res.data[0].registers.length;
          let data = []
          for (let index = 0; index < this.count; index++) {
                // data = this.getKeywords(res.data[0][index].transcript)
                // console.log(data)
                // this.dato.a = data[0]
                // this.dato.b = data[1]
                // this.dato.c = data[2]
                this.registers.push(this.dato)
            }
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
          this.loading = false;
        });
    },
    closeDialog() {
      this.dialog = false;
    },
    getFile(item) {},
    getTranscript(item) {
      this.type = true;
      this.text = item.transcript;
      this.dialog = true;
    },
    getSummary(item) {
      let payload = {
        text: item
      };
      backend({
        method: "POST",
        url: `/summary`,
        data: payload
      })
        .then(res => {
            return res.data[0]
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
          this.loading = false;
        });
    },
    getKeywords(item) {
      let payload = {
        text: item
      };
      backend({
        method: "POST",
        url: `/summary`,
        data: payload
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data[0].message,
            color: "success"
          };
          this.dialog2 = true;
          this.keywords = res.data[0].keywords;
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
          this.loading = false;
        });
    },
    editItem(item) {},
    deleteItem(item) {},
    getHeaders() {
      const headers = [
        { text: "Tipo de Entidad", value: "1", tipo: "user" },
        {
          text: "Entidad",
          value: "2",
          tipo: "user"
        },
        {
          text: "Código de Producto",
          value: "3",
          tipo: "admin"
        },
        { text: "Categoria", value: "4", tipo: "user" },
        { text: "Concesión", value: "5", tipo: "user" },
        // { text: "Pretenciones", value: "6", tipo: "user" },
        // { text: "Condena", value: "7", tipo: "user" },
        // { text: "Porcentaje de condena", value: "8", tipo: "user" },
        { text: "Duración", value: "9", tipo: "user" },
        // { text: "Tipo de demandante", value: "10", tipo: "user" },
        // { text: "Costo de la condena", value: "11", tipo: "user" },
        // { text: "Multa", value: "12", tipo: "user" },
        { text: "Eje Ttematico", value: "13", tipo: "user" },
        { text: "Producto Financiero", value: "14", tipo: "user" },
        { text: "Tipo de Contrato", value: "15", tipo: "user" },
        // { text: "Tipo de contrato", value: "16", tipo: "user" }
      ];
      return headers;
    }
  }
});
</script>
