<template>
  <v-row align="center" style="align-content: center;">
    <v-col class="text-center" cols="12" sm="6">
      <v-data-table :headers="headers" :items="keywords" sort-by="palabra" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Lista de Palabras Clave</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" @click="newKeyword" v-on="on">Nueva Palabra</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field v-model="editedItem.keyword" label="Palabra Clave"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
                  <v-btn color="primary" text @click="saveKey">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)" color="gray">mdi-pencil</v-icon>
          <v-icon small @click="deleteItem(item)" color="red">mdi-delete</v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initializeKeywords">Refrescar</v-btn>
        </template>
      </v-data-table>
    </v-col>
    <v-col class="text-center" cols="12" sm="6">
      <v-data-table :headers="headers2" :items="entitys" sort-by="entidad" class="elevation-1">
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Lista de Entidades</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog2" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" @click="newEntity" v-on="on">Nueva Entidad</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle2 }}</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="12">
                        <v-text-field v-model="editedItem2.entity" label="Entidad"></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="red darken-1" text @click="close2">Cancelar</v-btn>
                  <v-btn color="primary" text @click="saveEntity">Guardar</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon small class="mr-2" @click="editItem2(item)" color="gray">mdi-pencil</v-icon>
          <v-icon small @click="deleteItem2(item)" color="red">mdi-delete</v-icon>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initializeEntitys">Refrescar</v-btn>
        </template>
      </v-data-table>
    </v-col>
    <Alert :show="alert" />
  </v-row>
</template>

<script>
import Alert from "../utilitys/Alert";
import { backend } from "../../globals/axios";
export default {
  components: {
    Alert
  },
  data: () => ({
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    dialog: false,
    dialog2: false,
    headers: [
      { text: "Palabras Clave", align: "start", value: "keyword" },
      { text: "", value: "actions", sortable: false }
    ],
    headers2: [
      { text: "Entidad", align: "start", value: "entity" },
      { text: "", value: "actions", sortable: false }
    ],
    keywords: [],
    entitys: [],
    editedIndex: -1,
    editedIndex2: -2,
    editedItem: {
      keyword: ""
    },
    defaultItem: {
      keyword: ""
    },
    editedItem2: {
      entity: ""
    },
    defaultItem2: {
      entity: ""
    },
    alert: {
      icon: "mdi-alert-outline",
      show: false,
      text: "",
      color: "error"
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Nueva Palabra Clave"
        : "Editar Palabra Clave";
    },
    formTitle2() {
      return this.editedIndex === -2 ? "Nueva Entidad" : "Editar Entidad";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initializeKeywords();
    this.initializeEntitys();
  },

  methods: {
    newKeyword() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.dialog = true;
    },
    newEntity() {
      this.editedItem2 = Object.assign({}, this.defaultItem2);
      this.dialog2 = true;
    },
    initializeKeywords() {
      backend({
        method: "GET",
        url: `/keywords`
      })
        .then(res => {
          this.keywords = res.data.registers;
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },
    initializeEntitys() {
      backend({
        method: "GET",
        url: `/entitys`
      })
        .then(res => {
          this.entitys = res.data.registers;
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },
    editItem(item) {
      this.editedIndex = this.keywords.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm("¿Seguro quieres eliminar esta palabra clave?");
      backend({
        method: "DELETE",
        url: `/keywords`,
        data: item
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initializeKeywords();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    saveKey() {
      let method = "";
      if (this.editedIndex > -1) {
        method = "PUT";
      } else {
        method = "POST";
      }
      backend({
        method: method,
        url: `/keywords`,
        data: this.editedItem
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initializeKeywords();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
      this.close();
      this.initializeKeywords();
    },

    editItem2(item) {
      this.editedIndex2 = this.entitys.indexOf(item);
      this.editedItem2 = Object.assign({}, item);
      this.dialog2 = true;
    },

    deleteItem2(item) {
      confirm("¿Seguro quieres eliminar esta entidad?") 
      backend({
        method: "DELETE",
        url: `/entitys`,
        data: item
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initializeEntitys();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },

    close2() {
      this.dialog2 = false;
      this.$nextTick(() => {
        this.editedItem2 = Object.assign({}, this.defaultItem2);
        this.editedIndex2 = -1;
      });
    },

    saveEntity() {
      let method = "";
      if (this.editedIndex2 > -1) {
        method = "PUT";
      } else {
        method = "POST";
      }
      backend({
        method: method,
        url: `/entitys`,
        data: this.editedItem2
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initializeEntitys();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
      this.close2();
      this.initializeEntitys();
    }
  }
};
</script>
