<template>
<v-container>

  <v-data-table :headers="headers" :items="itemstable" sort-by="nombre" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Lista de Usuarios</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="650px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" @click="newUser" v-on="on">Nuevo Usuario</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form ref='form' v-model="valid">
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.name" :rules="rules.required" label="Nombre"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="editedItem.apellido"
                      :rules="rules.required"
                      label="Apellido"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.correo" :rules="rules.mail" label="Correo"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.password" type="password" label="Contraseña"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-select
                      v-model="editedItem.rol"
                      :items="items"
                      :rules="rules.required"
                      label="Tipo de cuenta"
                      required
                    ></v-select>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="primary" text :disabled="!valid" @click="save">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)" color="info">mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item)" color="red">mdi-delete</v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Refrescar</v-btn>
    </template>
  </v-data-table>
  <Alert :show="alert"/>
</v-container>
</template>

<script>
import { backend } from "../../globals/axios";
import { rules } from "../../globals/rules";
import Alert from '../utilitys/Alert';
export default {
  components:{
    Alert
  },
  data: () => ({
    dialog: false,
    valid:false,
    rules: rules,
    items: ["Administrador", "Supervisor", "Operador"],
    headers: [
      { text: "Nombre", align: "start", value: "name" },
      { text: "Apellido", value: "apellido" },
      { text: "Correo", value: "correo" },
      { text: "Rol", value: "rol" },
      { text: "", value: "actions", sortable: false }
    ],
    itemstable: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      apellido: "",
      password:"",
      rol: "",
      correo: "",
    },
    defaultItem: {
      name: "",
      apellido: "",
      password: "",
      rol: "",
      correo: "",
    },
    alert: {
      icon: "mdi-alert-outline",
      show: false,
      text: '',
      color: "error"
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Usuario" : "Editar Usuario";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    newUser() {
      this.editedItem = Object.assign({},this.defaultItem);
      this.dialog = true;
    },
    initialize() {
      backend({
        method: "GET",
        url: `/users`
      })
        .then(res => {
          this.itemstable = res.data.registers;
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },

    editItem(item) {
      this.editedIndex = this.itemstable.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      confirm("¿Seguro quieres eliminar este usuario?") 
      backend({
        method: "DELETE",
        url: `/users`,
        data: item
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initialize();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      let method = "";
      if (this.editedIndex > -1) {
        method = "PUT";
      } else {
        method = "POST";
      }
      backend({
        method: method,
        url: `/users`,
        data: this.editedItem
      })
        .then(res => {
          this.alert = {
            icon: "mdi-check-outline",
            show: true,
            text: res.data.message,
            color: "success"
          };
          this.initialize();
        })
        .catch(error => {
          this.alert = {
            icon: "mdi-alert-outline",
            show: true,
            text: error.data,
            color: "error"
          };
        });
      this.close();
    }
  }
};
</script>